<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<body>

    <h1>Login</h1>
     
        <div class="login_form">
            <form action="/auth/login" method="POST">
                
                <div class="row">
                    <label class="form-label">Username</label>
                    <input type="text" name="username">                        
                </div>
                
                <div class="row">
                    <label class="form-label">Password</label>
                    <input type="password" name="password">
                </div>

                <button type="submit">Login</button>

            </form>
        </div>

</body>
</html>
